body {
    margin: 0;
}

.tolkien {
    display: block;
    border: none;
    max-width: 100%;
}

section h1 {
    text-align: center;
    padding-top: 20px;
    text-shadow: 0px 5px 5px #000;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
}

section h2 {
    text-align: center;
    margin: 0;
}

.caption {
    background-color: #eee;
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
}

blockquote {
    color: #888;
    border: 2px solid #333;
    padding: 0px 10px 10px 0px;
    background-color: #ccc;
    text-align: right;
}

ul li {
    padding: 5px 3px 5px 3px;
}

.timeline, .quote {
    max-width: 800px;
    margin: auto;
}

.btnTolkien {
    display: block;
    margin: auto;
}
